body {
    font-family: 'Montserrat', sans-serif;
    background-color: #46178f;
    color: #ffffff;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #673ab7;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 100%;
}

#question {
    font-size: 1.8em;
    font-family: 'Montserrat';
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    background-color: #7e57c2; 
    padding: 20px;
    border-radius: 10px;
    transition: background-color 0.5s ease, color 0.5s ease;
    color: #ffffff; 
}

h1 {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 30px;
    color: #ffd700;
}

h5 {
    font-size: 0.9em;
    margin: 5px 0;
    color: #e0e0e0;
}

#score-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 1.2em;
}

#question {
    font-size: 1.8em;
    text-align: center;
    margin-bottom: 30px;
    background-color: #7e57c2;
    padding: 20px;
    border-radius: 10px;
}

#answer-input {
    width: 100%;
    padding: 10px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#check-btn {
    background-color: #4caf50;
    margin-right: 10px;
}

#check-btn:hover {
    background-color: #45a049;
}

#next-btn {
    background-color: #2196f3;
}

#next-btn:hover {
    background-color: #1e87db;
}

#next-btn:disabled {
    background-color: #bbdefb;
    cursor: not-allowed;
}

#feedback {
    text-align: center;
    font-size: 1.2em;
    margin-top: 20px;
    font-weight: bold;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: #333;
}

.popup-content h2 {
    color: #46178f;
    margin-bottom: 10px;
}

.popup-content button {
    background-color: #46178f;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
}

.popup-content button:hover {
    background-color: #2e1158;
}

@media (max-width: 480px) {
    .container {
        padding: 20px;
    }

    h1 {
        font-size: 2em;
    }

    #question {
        font-size: 1.5em;
    }

    button {
        font-size: 1em;
    }
}